@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
  article pre {
    font-size: 12px;
    letter-spacing: 0px;
    padding: 8px;
  }

  article > p,
  article > ul,
  article > ol,
  article > div,
  article > blockquote,
  article > header,
  article > h1,
  article > h2,
  article > h3,
  article > h4,
  article > h5,
  article > h6,
  main > header {
    text-shadow: 0px 1px 1px #fff;
    display: block;
    padding: 8px;
  }

  body > header h1 {
    padding: 0 8px;
  }

  body > header nav {
    padding: 8px;
  }

  section.gravatar,
  section.contact {
    display: block;
    padding: 0;
    width: initial;
    text-align: center;
  }
}

@media screen and (min-width: 400px) and (max-width: 550px) {
  article pre {
    font-size: 14px;
    letter-spacing: 0px;
  }
  html {
    font-size: 16px;
  }
  body > header > hgroup,
  main > article,
  main > nav {
    margin: 0 1em;
  } 
  section.gravatar,
  section.contact {
    display: block;
    padding: 0;
    width: initial;
    text-align: center;
  }
}

@media screen and (min-width: 550px) and (max-width: 720px) {
  article pre {
    font-size: 14px;
    letter-spacing: 0px;
  }
  html {
    font-size: 18px;
  }
  body > header > hgroup,
  main > article,
  main > nav {
    margin: 0 5%;
  }
}

@media screen and (min-width: 720px) and (max-width: 1000px) {

  article pre {
    font-size: 15px;
  }
  html {
    font-size: 18px;
  }
  body > header > hgroup,
  main > article,
  main > nav {
    margin: 0 auto;
    width: 680px;
  }
}

@media screen and (min-width: 1000px) {

  article pre {
    font-size: 15px;
  }
  html {
    font-size: 18px;
  }
  body > header > hgroup,
  main > article,
  main > nav {
    margin: 0 auto;
    width: 680px;
  }
}
