---
layout: default
title: Projects
section: projects
---

<section>
  {% assign projects = site.projects | sort: 'priority' | reverse %}
  {% for project in projects %}
  <article>
    <header>
      {% if project.type == 'github' %}
      <h2>
        <a href="https://github.com/{{project.org}}/{{project.repo}}">
          {{project.title}}
        </a>
      </h2>
      {% else %}
      <h2>{{project.title}}</h2>
      {% endif %}
    </header>
    {{project.content}}
    {% if project.type == 'github' %}
    <p>{% include github-buttons.html %}</p>
    {% endif %}

  </article>
  {% endfor %}
</section>
