<div id="disqus_thread"></div>
<div id="disqus_loader" style="text-align: center">
  <button onclick="load_disqus()">Load Disqus Comments</button>
  <script>
    function load_disqus()
    {
      var disqus_shortname = 'michaelallenio';
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = "http://"+disqus_shortname+".disqus.com/embed.js";
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      var ldr = document.getElementById('disqus_loader');
      ldr.parentNode.removeChild(ldr);
    }
  </script>
</div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
