<section class="gravatar">
    <img src="https://s.gravatar.com/avatar/{{site.author.gravatar}}?size=200" alt="My Gravatar">
</section>
<section class="contact">
  <h2>{{ site.author.name }}</h2>
  <p>Senior Software Engineer at <a href="https://www.kainos.com">Kainos</a></p>
  <p>{{ site.author.email }}</p>
  <p>
    <a href="https://github.com/{{ site.author.github }}">github.com/{{ site.author.github }}</a>
  </p>
  <p>
    <a href="https://twitter.com/{{ site.author.twitter }}">twitter.com/{{ site.author.twitter }}</a>
  </p>
</section>
