<section class="gravatar">
    <img src="https://s.gravatar.com/avatar/{{site.author.gravatar}}?size=200" alt="My Gravatar" rel="me">
</section>
<section class="contact">
  <p>
    <b>Consultant Developer</b> currently with
    <a href="http://www.digi2al.co.uk/">Digi2al</a>
  </p>
  <p>
    Coder as a Service
  </p>
  <p>
    Based in London
  </p>
  <p>
    Passionate about open source
  </p>
  <p>michael [at] michaelallen.io</p>
  <p>Elsewhere:
    <a href="https://github.com/{{ site.author.github }}" rel="me">github</a>, 
    <a href="https://twitter.com/{{ site.author.twitter }}" rel="me">twitter</a>, 
    <a href="https://keybase.io/{{ site.author.keybase }}" rel="me">keybase</a>
  </p>
</section>
