<a class="github-button"
  href="https://github.com/{{project.org}}/{{project.repo}}"
  data-icon="octicon"
  data-style="mega"
  aria-label="{{project.org}}/{{project.repo}} on GitHub">Source Code</a>

<a class="github-button"
   href="https://github.com/{{project.org}}/{{project.repo}}/fork"
  data-icon="octicon-repo-forked"
  data-style="mega"
  data-count-href="/{{project.org}}/{{project.repo}}/network"
  data-count-api="/repos/{{project.org}}/{{project.repo}}#forks_count"
  data-count-aria-label="# forks on GitHub"
  aria-label="Fork {{project.org}}/{{project.repo}} on GitHub">Fork</a>

<a class="github-button"
  href="https://github.com/{{project.org}}/{{project.repo}}"
  data-icon="octicon-star"
  data-style="mega"
  data-count-href="/{{project.org}}/{{project.repo}}/stargazers"
  data-count-api="/repos/{{project.org}}/{{project.repo}}#stargazers_count"
  data-count-aria-label="# stargazers on GitHub"
  aria-label="Star {{project.org}}/{{project.repo}} on GitHub">Star</a>
