<header>
  <hgroup>
  {% if page.section %}
    <h1 class="title">
      <a href="/"}><b>michael</b>allen</a>
      /
      <a href="/{{page.section}}">{{page.section}}</a>
    </h1>
  {% else %}
    <h1 class="title"><a href="/"><b>michael</b>allen</a></h1>
  {% endif %}
    <nav>
    {% if page.section != 'cv' %}
      <a class="extra" href="/cv">cv</a>
    {% endif %}
    {% if page.section != 'projects' %}
      <a class="extra" href="/projects">projects</a>
    {% endif %}
    {% if page.section != 'articles' %}
      <a class="extra" href="/articles">articles</a>
    {% endif %}
    </nav>
  </hgroup>
</header>
