<span class="lead-img" data-picture data-alt="{{page.lead_img_alt}}">
    <span data-src="{{page.lead_img}}@200.jpg"></span>
    <span data-src="{{page.lead_img}}@400.jpg" data-media="(min-width: 201px)"></span>
    <span data-src="{{page.lead_img}}@800.jpg" data-media="(min-width: 401px)"></span>
    <span data-src="{{page.lead_img}}@1000.jpg" data-media="(min-width: 801px)"></span>
    <span data-src="{{page.lead_img}}@2000.jpg" data-media="(min-width: 1001px)"></span>

    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
    <noscript>
        <img src="{{page.lead_img}}@200.jpg" alt="{{page.lead_img_alt}}">
    </noscript>
</span>